
<h1>Here is one question</h1>
<h3><%= @question.question_text %></h3>
  Posted By: <%= User.find(@question.user_id).email %><br>

    <br>

<br><br>

<h3>Answers:</h3>
  <% @question.answers.each do |answer| %>
    <%= answer.answer_text %><br>
  Tags:<br>
  <% answer.tags.each do |tag| %>
  <%= link_to(tag.name, tag_path(tag)) %><br>
  <% end %>
    Answered by: <%= User.find(answer.user_id).email %> <br><br>
  <% end %>
<br><br>

<h3>Your Answer:</h3>
  <%= form_for @answer do |f|%>
  <ol class="answer_tag">
    <li>
    <%= f.label :answer_text %>
    <%= f.text_field :answer_text %>
    </li>
    <li>

    <%= form.label :tag, 'Tag' %>
    <%= form.text_field :tag %>
    <%= render "tag" %>
        <button class="add_tag" type="button">
          <%=link_to 'Add Tag', tag_answer_path, remote: true %>
        </button><br>
    </li>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= f.submit "Answer This" %>
  <% end %>
  </ol>
