<div class="question_show">
  <h2><%= @question.question_text %></h2>
    <%= image_tag @questioning_user.gravatar_url, { :class => "poster_image" }  %>
    Posted By:
    <%= @questioning_user.email %><br>

    Tags:<br>
    <% @question.tags.each do |tag| %>
      <%= tag.name %><br>
    <% end %>

  <br><br>

  <h3>Answers:</h3>
    <% @question.answers.each do |answer| %>
      <%= answer.answer_text %><br>
      <%= image_tag (User.find(answer.user_id).gravatar_url), { :class => "answerer_image" } %>
      Answered by: <%= User.find(answer.user_id).email %> <br><br>
    <% end %>

  <br><br>

<h4 id="button_id">Post your Answer!</h4>

  <%= form_for @answer, url: answers_path, html: {id: "answer_form"} do |f|%>
    <%= f.text_field :answer_text %>
    <%= hidden_field_tag :question_id, @question.id %>
    <%= f.submit "Answer This" %>
  <% end %>
</div>
