<div class="profile_container">
 
 <%= image_tag @user.gravatar_url %> <br>
 <strong><%= @user.name %> <br></strong>
 <%= @user.email %> <br>

 <p><strong>Questions: </strong>
<%= @user.questions.each do |question| %> <br>
  <% if @user.questions == nil %>
    <p>User has not posted any questions yet!</p>
  <% else%>
    <%= question.question_text %><br>
  <% end %>
<% end %>
  <br>
  <p> Member Since: <%= @user.created_at %>
</div>
