<!DOCTYPE html>
<html>
<head>
  <title>Travelflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <div id='page_body'>
<header>
  <ul>
      <li><%= link_to('TravelFlow Home', root_path)%>
    <% if session[:user_id] %>
      <li><%= link_to('Ask Question', new_question_path) %></li>
      <li class='ajax_form'><%= link_to('logout', logout_path) %></li>
      <% else %>
      <li class='ajax_form'><%= link_to('login', new_user_path) %></li> <!-- #FIXME AJAX SIGNIN FORM -->
      <li class='ajax_form'><%= link_to('signup', new_user_path) %></li>
      <li><%= link_to('Ask Question', new_user_path) %></li>
    <% end %>

  </ul>
</header>


<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
  </div>
</html>
